In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/barnabasepres/University/TDK/trump_speech_analysis/word2vec_vectors.csv")

In [9]:
df.head()

,Unnamed: 0.1,Unnamed: 0,textid,word,score,word_vectors,Vector
0,0,rural,1,rural,7.567577,NaN,"[array([ 0.06391316, 0.02213221, 0.10766918,..."
1,1,badmouth,1,badmouth,7.453291,NaN,"[array([-9.7940713e-01, 3.8866898e-01, 4.681..."
2,2,debbi,1,debbi,6.931008,NaN,"[array([ 0.0026027 , 0.00392018, 0.511039 ,..."
3,3,swift,1,swift,6.931008,NaN,"[array([-0.45648408, -0.09665676, -0.00343847,..."
4,4,pastor,1,pastor,6.511030,NaN,"[array([-0.5832773 , -0.12852053, 0.7659066 ,..."